$body-bg: #c41e3a;
$active-color: #4c7f3c;
$text-color: black;
$dark: darkgrey;
$white: white;
$line: rgba(150, 150, 150, .2);
$about-bg:#2b2b2b;
$butt: #444;
$name: #313131;
$line_bot: #11abb0;
$skill_bg:#ccc;
$skill_dark:#313131;
$portfolio_bg: #ebeeee;
$reviews_bg: red;
$shadow: black;
$contact_bg:#191919;
$sub_but:#0d0d0d;
$footer_bg:#0f0f0f;
$footer_social: #525252;
$footer_copy:#525252;
